<h1>Edit <%= @pokemon.name %></h1>

<form action="/pokemon/<%=@pokemon.id %>" method="POST">
  <label> Pokemon </label>
  <input type="text" name="name" value="<%=@pokemon.name %>"> </br>

  <input type="submit" value="Update">
</form>
